<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="Conexion_MySql" connectionString="wUhBCwtzTmxz3rPsoAcEwMIgygNJopl9qY2NV4HZLGt7Ts3wHTYsWZOWkLZsYuZ/lsRXktEGa8UXNbys9FPkdUtNNpGLYLxQ46MrP3AH1/hlPDKt40AYViBiaG3Nr0fOABzacrg+XXP7chBMwXTg6O+cmd8UsY4mlqq67uJR0r6ZBWa5U8IA4kP5rAHQVLU9" providerName="System.Data.SqlClient" />
		<add name="Conexion_MySql_pop" connectionString="wUhBCwtzTmxz3rPsoAcEwMIgygNJopl9qY2NV4HZLGt7Ts3wHTYsWZOWkLZsYuZ/lsRXktEGa8Wj2qVSE8GRet/emVAG0H2oIhN0HEL/kPKYNsGcSz9xl678CTp+Q7wWOyvcBD913cYP98KREO/kBlBYrDZBO4L3/in/7Wm6gCVw5g+S+DjEeH+6b1xSK3ZoZhW7DlRU2k4=" providerName="System.Data.SqlClient" />
		<add name="Conexion_Access" connectionString="OjurOSXOj5Yz6OOPBil2X90DuigxWUwrWfw+Hzf6RRgD2n8iDxXwdRBAU6ryDafvFJzujy2YCfqt3W5QDzFgMEstCgfjswldEbOYCcJuqweKeTPdu6cU2Q==" />

	</connectionStrings>
	<appSettings>
		<add key="Nombre_BBDD_MySql" value="tldrame" />
		<add key="Intervalo_Actualizacion" value="900" />
		<add key="Codigo_Empresa_Registrada" value="1" />
		<add key="Corre_Proceso_Contenedores" value="0" />
		<add key="Corre_Proceso_Generales" value="1" />
		<add key="Corre_Proceso_IVA" value="1" />
		<add key="Cant_Dias_Atras" value="-30" />

		<!--DATOS FTP-->
		<add key="FTP_NAME" value="ftp.latincloud.com.ar:21" />
		<add key="FTP_USER" value="tE3wQRaNrnC42sNb9s8Lf77mm46+ZmNrUUhVTBxnKsCeTwmgZrCkMRoYbxd5lTR6" />
		<add key="FTP_PASS" value="oTrNSTPwvz7AxMY3eQIbf7pPaMO7zS43" />
		<add key="FTP_BASE_FOLDER" value="documentos" />

	</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>