<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="Conexion_MySql" connectionString="Data Source=190.228.29.57;Initial Catalog=logisticamm;Uid=marco;PWD=;" providerName="System.Data.SqlClient" />
      <add name="Conexion_Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Sistema_Gestion\SGI.accdb;" />
      <add name="Conexion_Emails" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Sistema_Gestion\SGI.accdb;" />
    </connectionStrings>
    <appSettings>
      <add key="Empresa_Registrada" value="Logistica MyM" />
      <add key="Ruta_Encabezado_Ventas" value="E:\Google Drive\LogisticaMyM\smart_email_archivos\smartemails_ventas.html" />
      <add key="Ruta_Encabezado_Compras" value="E:\Google Drive\LogisticaMyM\smart_email_archivos\smartemails_compras.html" />
      <add key="Ruta_Firma" value="" />
      <add key="Asunto_Ventas" value=" || RESUMEN DE CUENTA || LOGISTICA MYM SAS  " />
      <add key="Asunto_Compras" value="LOGISTICA MYM SAS" />
      <add key="Con_Copia_A" value="maximiliano.ruata@logisticamym.com.ar;fernanda@logisticamym.com.ar;miryana.roldan@logisticamym.com.ar" />
      <add key="link_wsp" value=""/>
      <add key="foto_wsp" value=""/>
      

      <add key="Intervalo_Actualizacion" value="900" />
      <add key="Version" value="1.0.0.0" />
      <add key="Fecha_Version" value="26-05-2020" />
      <add key="pagina_web" value="http://virtual-lab.com.ar" />
    </appSettings>
</configuration>